Makefile
autoscan.log
config.h
config.h.in~
config.status
configure.scan
*.tar.gz
eng-qbl.geany
gematria
*.o
*.s
memleak-processing-localfile.log
memleak-processing-remotefile.log
notarikon
notarikon.h
sample-texts/bible-books/*
sample-texts/bible.txt
stamp-h1
temurah
